@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* Hamburger Menu */
body {
    margin: 0;
    padding: 0;
    color: #333333;
    background: #f9f9f9;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none !important;
    color: #232323;
    transition: color 0.3s ease;
}

a:hover {
    color: #2ecc71;
}
header{
    position: absolute;
    padding: 0 2rem;
    background-color: #dcdcdc00;
    width: 100%;
}
.logo_img{
    width: 10%;
}
.dropdown_menu > li > a{
    color: #fff;
}
.navbar{
  display:flex;
  width:100%;
  height:60px;
  max-width:1200px;
  margin:0 auto;
  align-items:center;
  justify-content:space-between;
}

.navbar .logo a{
  font-size:1.5rem;
  font-weight:bold;
}

.navbar .links{
  display:flex;
  gap:2rem;
}

.navbar .toggle_btn{
    color:#000;
    cursor:pointer;
    font-size:1.5rem;
    position: absolute;
    right: 0;
}

.action_btn{
  background-color:orange;
  padding:0.5rem 1rem;
  border:none;
  outline:none;
  border-radius:20px;
  font-size:1rem;
  font-weight:bold;
}

.action_btn:hover{
  color:white;
  scale:1.05;
}
.action_btn:active{
  scale:0.95;
}

.dropdown_menu{
  right:2rem;
  position:absolute;
  background:#38393e;
  backdrop-filter:blur(15px);
  top:60px;
  height:0px;
  width:400px;
  border-radius:10px;
  overflow:hidden;
  transition: .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu li{
  padding:0.2rem;
  display:flex;
  justify-content:center;
  align-items:center;
}
.dropdown_menu.open{ 
    height: 100vh;
}

.dropdown_menu .action_btn{
  width:100%;
  display:flex;
  justify-content:center;
}

@media(max-width:992px){
  .navbar .links,
  .navbar .action_btn{
    display:none;
  }
  .navbar .toggle_btn{
    display:block;
  }
  .dropdown_menu{
    display:block;
  }
}

@media(max-width:576px){
  .dropdown_menu{
    left:2rem;
    width:unset;
  }
}

/*Comman*/

.title-head{
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 2%;
    color: #01164f;
    padding-top: 5%;
}

.desc{
    text-align: center;
    padding: 0 5%;
    font-size: 16px;
    line-height: 1.7;
    color: #000000;
    font-weight: 500;
    padding-bottom: 5%;
}

.align-left{
    text-align: left;
}
.mg_t_3{
    margin-top: 3%;
}
.pd_b_3{
    padding-bottom: 3%;
}
.pd_b_5{
    padding-bottom: 5%;
}
.mgl_5{
    margin-left: 5%;
}
.mg_l_5{
    margin-left: 5px;
}
.mg_l_10{
    margin-left: 10px;
}
.mg_l_30{
    margin-left: 35px;
}
.service_list{
    list-style: none;
    color: #fff;
    line-height: 3;
    font-weight: 200;
}
.padd_slider{
    padding: 10% 5%;
}
article{
  display: none;
}
article.on{
  display: block;
}

/* banner */

.banner_div{
    width: 100%;
    top: 0;
    z-index: -1;
}
.banner_img{
    width: 100%;
}
.mg-lf{
    margin: 0!important;
}

/*Our Services*/
.tabs {
  width: 100%;
  margin: 0 auto;
  margin: 0 auto;
  padding-top: 5%;
}
.tabs__navigation {
  display: flex;
}
.tabs__navigation:hover .tool-tabs__tab.active {
  color: #000;
  font-weight: 400;
  background-color: #c8c8c8;
}
.tabs__navigation:hover .tool-tabs__tab.active:after {
  width: 0;
}
.tabs__navigation:hover .tool-tabs__tab:hover.active {
  color: #000;
  font-weight: 500;
}
.tabs__navigation:hover .tool-tabs__tab:hover.active:after {
  width: 100%;
}
.tabs__btn {
  position: relative;
  flex: 0 1 50%;
  padding-bottom: 15px;
  border: none;
  background-color: transparent;
  font-size: 18px;
  line-height: 120%;
  color: #c8c8c885;
  transition: color 0.2s;
  cursor: pointer;  
  border-bottom: 3px solid #c8c8c885;
  margin: 0 2px;
}
.tabs__btn.active {
  color: #f4ae1b;
  font-weight: 400;
  border-bottom: 3px solid #f4ae1b;
  font-weight: bold;

}

.tabs__content {
  margin-top: 15px;
}
.tabs__body {
  display: none;
  font-size: 18px;
  padding-top: 5%;
}
.tabs__body.active {
  display: block;
}
.service_title_1{
    font-size: 42px;
    font-weight: 400;
    text-align: center;
    color: #fff;
    padding-top: 5%;
}
.service_title_2{
    font-size: 42px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 2%;
    color: #f5f6fb;
}
.align-right{
    text-align: center;
}
.w-100 {
    width: 100%;
    padding-bottom: 5%;
}
.service_text{
    text-align: justify;
    padding: 10% 0;
    font-size: 15px;
    color: #fff;
    padding-bottom: 10%;
    font-weight: 500;
}
input[type="radio"] {
  /* remove standard background appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* create custom radiobutton appearance */
  display: inline-block;
  width: 25px;
  height: 25px;
  
  /* background-color only for content */
  background-clip: content-box;
  border: 2px solid #848484;
  background-color: #848484;
  border-radius: 50%;
}

/* appearance for checked radiobutton */
input[type="radio"]:checked {
  background-color: #f4af1b;
  padding: 3px;
  animation: pulse 1500ms infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #fbb32f;
  }
  100% {
    box-shadow: 0 0 0 17px #fbb32f01;
  }
}
.service{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #01164f;
}
.service_box{
  background: url(../img/service_bg.jpg) no-repeat ; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      padding-bottom: 7%;
}
.pulse_2 {
    width: 300px;
    height: 300px;
    border-radius: 164px;
    background: #ffffff08;
    animation: pulses 1500ms infinite;
    left: 28%;
    position: absolute;
}
@keyframes pulses {
  0% {
    box-shadow: 0 0 0 0 #ffffff00;
  }
  50% {
    box-shadow: 0 0 0 17px #ffffff0f;
  }
  100% {
    box-shadow: 0 0 0 37px #ffffff00;
  }
}


/*Our Product*/

.our_product_title{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 3%;
    color: #f4ae1b;
}
.fw-500{
    font-weight: 500;
}
#bannerHome #homeBanner {
  padding: 0;
  position: relative;
}
#bannerHome #homeBanner .slider-banner {
  height: 100%;
  width: 100%;
}
#bannerHome #homeBanner .slider-banner .item {
  height: 70vh;
  margin: 0 5px;
}
#bannerHome #homeBanner .slider-banner .item .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 100%;
  padding: 0 10%;
}
#bannerHome #homeBanner .slider-banner .item .content .second-layer .title {
  width: 100%;
}
#bannerHome #homeBanner .slider-banner .item .content .second-layer .title h1 {
  color: #fff;
  font-size: 25px;
  line-height: 25px;
}

.arrowBannerLeft {
  position: absolute;
  background: transparent;
  border: none;
  top: 75%;
  left: 25%;
  transform: translate(-2%, -50%);
  z-index: 1;
}
.arrowBannerLeft:focus {
  outline: none;
  box-shadow: none;
}

.arrowBannerRight {
  position: absolute;
  background: transparent;
  border: none;
  top: 75%;
  left: 27%;
  transform: translate(-2%, -50%);
  z-index: 1;
}
.arrowBannerRight:focus {
  outline: none;
  box-shadow: none;
}

.pagingInfo {
  position: absolute;
  bottom: 20%;
  left: 23%;
  transform: translate(-50%, -50%);
}

.progress {
  position: absolute;
  bottom: 24%;
  left: 15%;
  height: 5px!important;
  transform: translate(-50%, -50%);
  display: block;
  width: 10%;
  height: 5px;
  border-radius: 5px;
  overflow: hidden;
  background-color: #e1d8d8;
  background-image: linear-gradient(to right, #ED951E, #ED951E);
  background-repeat: no-repeat;
  background-size: 0 100%;
  transition: background-size 0.4s ease-in-out;
}

ul.slick-dots {
  display: none;
}
ul.slick-dots li {
  display: none!important;
}
ul.slick-dots li.slick-active {
  display: block;
}
.img_box{
  height: 70vh;
  margin-left: 20%;
}
.padd-5{
    padding-top: 5%;
}
.number{
    font-size: 50px;
    position: absolute;
    right: 13%;
    bottom: 10%;
    font-weight: bold;
}
/*Our Partner*/
.our_product{
  background: url(our_product.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
/*    margin-top: 5%;*/
}
.our_partners{
    background: url(partners_bg.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
/*      margin-top: 5%;*/
    padding-bottom: 5%;
}
.our_career{
    background: url(careers_bg.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
/*      margin-top: 5%;*/
}
.career_title-head{
    font-size: 40px;
    text-align: left;
    font-weight: bold;
    color: #000000;
    padding-top: 10%;
}
.career_subtitle{
    font-size: 40px;
    padding-bottom: 2%;
    font-weight: 400;
    color: #000000;
}
.para_career{
    width: 70%;
    line-height: 1.5;
    color: #000000;
}
.space_carrer{
    padding-top: 3%;
    padding-bottom: 25%;
}

/*our_milestones*/

.our_milestones{
    background: url(milestone_bg.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
/*      margin-top: 5%;*/
}
.milestones{
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 2%;
    color: #f4af1b;
}
.white_color{
    color: #fff!important;
}
.milestones_desc {
    text-align: center;
    padding: 0 23%;
    font-size: 16px;
    line-height: 1.7;
    color: #ffffff;
    font-weight: 500;
    padding-bottom: 2%;
}
.milestones_details{
    font-size: 24px;
    font-weight: bold;
    color: #f4af1b;
}
.para_milestones{
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}
.desc_new {
    text-align: center;
    padding: 0 10%;
    font-size: 16px;
    line-height: 1.7;
    color: #ffffff;
    font-weight: 400;
    padding-bottom: 7%;
}
.text-center{
    text-align: center;
}
.w-60_icon{
    width: 60%;
}

/* what happped */
.rtl-slider-flex {
  width: 100%;
/*  margin: 10em auto;
  padding: 0.75em 0.75em 0.5em;
  background: #fff;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  box-shadow: 0 1px 5px rgba(0,0,0,0.15);*/
}
.thumb-prev,
.thumb-next {
  right: calc(17% + 0.99em) !important;
}
.thumb-prev {
  right: calc(2% + 0.99em) !important;
}
/* Necessary styles */
.rtl-slider-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
}
.rtl-slider-flex .rtl-slider {
  width: 80%;
  margin-right: 1%;
}
.rtl-slider-flex .rtl-slider-nav {
  width: 19%;
  margin-top: -2px;
}
.rtl-slider-flex .rtl-slider-nav .rtl-slider-slide {
  padding-top: 86%;
  margin-bottom: 0px;
  opacity: 0.75;
  transition: all 0.3s ease;
  cursor: pointer;
}
.rtl-slider-flex .rtl-slider-nav .slick-slide.slick-current.slick-active .rtl-slider-slide {
  opacity: 1;
}
.rtl-slider-flex .rtl-slider-slide {
  background: #f9f9f9 url("") no-repeat center/cover;
  padding-top: 17%;
}
.rtl-slider-flex .thumb-prev,
.rtl-slider-flex .thumb-next {
  position: absolute;
  bottom: 0px;
  right: 0;
  height: 80px;
  width: 14%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
  background: #01164f;
  color: #fff;
}

.rtl-slider-flex .thumb-prev,
.rtl-slider-flex .thumb-next{

}
.rtl-slider-flex .thumb-prev {
  right: 9.5%;
}
.side_box{
  width: 74%!important;
}
.padd-10{
    padding: 10% 0;
}
.pad-10{
    padding-top: 20%;
}
.happ_subtitle {
    font-size: 16px;
    padding-top: 2%;
    padding-bottom: 4%;
    font-weight: 500;
}
/*Footer*/

.footer_logo{
    width: 50%;
}
.paddt-10{
    padding-top: 10%;
}
.footer_bg{
    background: url(footer.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.footer_heading_title{
    font-size: 17px;
    font-weight: bold;
    color: #fff;
}
.yellow_line{
    width: 30%;
    background: #f4ae1b;
    height: 5px;
    margin: 10% 0;
}
.footer_ui{
    list-style: none;
    padding-left: 0;
    color: #ddd;
    line-height: 3.5;
    font-size: 15px;
}
.footer_font_right{
    font-size: 12px;
}
.res_des{
    font-size: 11px;
    line-height: 2;
}
.footer_address{
    padding-top: 40%;
    font-size: 13px;
    font-weight: 500;
    color: #ddd;
}
.padd-0{
    padding: 0 0 0 7%;
}
.img_res{
    width: 100%;
    margin-top: 25%;
}
.copyright{
    background: #020816;
    padding: 2%;
    color: #fff;
}
.cta{
    background: #000;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    color: #fff;
    padding-left: 17px;
    padding-top: 4px;
}
.span_arrow{
    margin-left: 10%;
}
.cta:hover{
    width: 70px;
}
.yellow_cta{
    background: #f4af1b!important;
    color: #000!important;
}
.rtl-slider-flex .thumb-prev:hover, .rtl-slider-flex .thumb-next:hover{
    background: #f4af1b!important;
}
.line-height_2{
    line-height: 2;
}
.social_icon{
    font-size: 24px;
    color: #ffffff78;
    margin: 0 5%;
}
.social_icon:hover{
    color: #ffffff;
}

/*About Us */

.about-us{
  background: url(about/section_2/teams_image_bg.jpg) no-repeat ; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}
.about_title-head {
    font-size: 40px;
    text-align: left;
    font-weight: bold;
    color: #01164f;
    padding-bottom: 5%;
}
.para_about {
    width: 100%;
    line-height: 1.5;
}
.yellow_bg{
  background: #f4af1b;
  margin: 15% 0;
  padding: 5%;
}
.mission_img{
    width: 25%;
    margin-top: 30%;
}
.mg_l_5p{
  margin-left: 5%;
}
.para_vision {
    width: 75%;
    line-height: 1.5;
    padding-bottom: 17%;
}
.vision{
    position: relative;
    left: 65%;
    bottom: 5%;
}
.rest{
  background: url(about/section_3/what_makes_us_BG.jpg) no-repeat ; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}
.padding-top-5{
  padding-top: 5%;
}
.team{
  background: url(about/section_4/team_bg.jpg) no-repeat ; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}
.team_img{
    width: 100%;
    margin: 10%;
}
.team_text{
    font-size: 35px;
    width: 50%;
    font-weight: 500;
    margin-top: 10%;
    margin-left: 10%;
    color: #01164f;
}
.contact_box{
    background: #f4af1b;
}
.about_contact{
    text-align: left;
    font-size: 30px;
    padding: 3% 25%;
    color: #000;
}
.about_label{
    font-weight: bold;
    font-size: 38px;
}
.about_btn{
  font-size: 18px;
  margin-left: 5%;
  border-radius: 30px;
  padding: 1% 4%;
  background: #000;
  color: #fff;
  border: 0;
}
.padd-bottom-10{
    padding-bottom: 10%!important;
}

/*Slider*/

.testimonial-bg{
     font-family: 'Raleway', sans-serif;
    padding: 35px 70px;
    text-align: center;
    position: relative;
}

.testimonial{
    padding: 0 15px;
}
.testimonial .description{
    font-size: 15px;
    font-weight: 600;
    color: #000;
    line-height: 30px;
    padding-bottom: 25px;
    margin-top  : 15px;
    position: relative;
    text-align: left;
}
.testimonial .pic{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 0px auto;
    overflow: hidden;
}
.testimonial .pic img{
    width: 100%;
    height: auto;
}
.testimonial .title{
   font-size: 30px;
    font-weight: 700;
    color: #f4af1b;
    text-transform: capitalize;
    margin: 0;    
    text-align: left;
}
.testimonial .post{
    font-size: 17px;
    color: #010101;
    text-align: left;
    font-weight: 600;
}
.owl-theme .owl-controls{
    margin-top: 10px;
    position: absolute;
    bottom: -20%;
    right: 0;
}
.owl-theme .owl-controls .owl-buttons div{
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: #ffffff;
    opacity: 1;
    padding: 0;
    display: inline-block;
    margin: 0 10px;
    border-radius: 50px;
    border: 1px solid #ddd;
}
.owl-prev:before,
.owl-next:before{
    content: "←";
    font-family: "fontawesome";
    font-size: 23px;
    font-weight: 700;
    color: #ffb413;
}
.owl-theme .owl-controls .owl-buttons div:hover{
    background: #ffb41399;
    color: #040404;
}
.owl-next:before{
    content:"→";
}
@media only screen and (max-width:767px){
    .testimonial-bg{ padding: 60px 10px!important; }
    .owl-theme .owl-controls{ bottom: -22%; }
}
@media only screen and (max-width:480px){
    .testimonial-bg:before{
        width: 55px;
        height: 55px;
        line-height: 55px;
        font-size: 40px;
    }
    .testimonial-bg{ padding: 30px 10px; }
    .owl-theme .owl-controls{ bottom: -15%; }
}
@media only screen and (max-width:360px){
    .testimonial .title,
    .testimonial .post{
        font-size: 16px;
    }
    .owl-theme .owl-controls{ bottom: -12%; }
}
.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 35vh;
}
/* SECTION VERTICAL TABS */
#experienceTab.nav-pills .nav-link.active {
    background-color: transparent;
    border-radius: 0px;
    border-bottom: 1px solid #f4af1b;
    color: #fff!important;
}
#experienceTab.nav-pills .nav-link {
    border-radius: 0px;
    border-bottom: 1px solid #dddddd57;
}
.date-range {
    letter-spacing: 0.01em;
    color: var(--theme-gray);
}

/* STUB  LINKS */
a {
   
    transition: 0.3s eas-in-out;
}
a:hover {
    color: var(--theme-yellow);
}
.active > strong{
  font-size: 30px;
    font-weight: bold;
    color: #f4af1b!important;
}
.nav-link > strong{
    font-size: 25px;
    font-weight: bold;
    color: #ffffff63;
}
.nav-link {
  color: #ffffff6e!important;
}
.nav-link {
    display: block;
    padding: 1rem 1rem!important;
}
.tab-content>.active {
    display: block;
    text-align: center!important;
}
.rest_img{
      width: 55%;
}
.rest_label{
      padding: 0 14%;
    font-size: 16px;
    font-weight: 400;
    margin-top: 5%;
}

/*Career */

.career_sec2{
  background: url(../img/career/section_2/who_we_are_bg.jpg) no-repeat ; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}
.section_space{
    margin-top: 20%;
}
.career_sec3{
  background: url(../img/career/section_3/life_bg.jpg) no-repeat ; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}
.black{
    color: #000;
}
.desc_2 {
    text-align: center;
    padding: 0 10%;
    font-size: 16px;
    line-height: 1.7;
    color: #000000;
    padding-bottom: 2%;
}
.career_sec4{
  background: url(../img/career/section_4/join_us_bg.jpg) no-repeat ; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}
.join_us{
    font-size: 45px;
    color: #f4ae1b;
    font-weight: bold;
    width: 75%;
    margin-left: 10%;
}
.join_us_text{
    font-size: 16px;
    color: #fff;
    margin-left: 10%;
    margin-top: 5%;
}

.accordion {
    font-size: 18px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 25%;
    margin-bottom: 25%;
}

.label {
    background-color: #ffffff;
    color: #01164f;
    width: 100%;
    padding: 20px 30px;
    position: relative;
    border: 1px solid #ddd;
    font-weight: bold;
}

.label::before {
    content: '+';
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.content {
    font-size: 16px;
    background-color: #fff;
    overflow: hidden;
    overflow-y: auto;
    height: 0;
    position: relative;
    transition:all 1s ease;
}
.content::-webkit-scrollbar{
    display: none;
}

.box.active .content{
    height: 125px;
    padding: 10px 50px;
}

.box.active .label{
    color:#f4ae1b;
}
.box.active .label::before{
    content: '-';
}

.career_sec5{
  background: url(../img/career/section_5/CTA_BG.jpg) no-repeat ; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}
.career_cta{
    text-align: center;
    font-size: 40px;
    padding: 6% 25%;
}

/*partners*/
.partners_sec_1{
  background: url(../img/partners/section_2/sec_2_bg.jpg) no-repeat ; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

.partners_img {
    width: 85%;
    margin: 10%;
}
.partners_text{
    padding: 0 10%;
    font-size: 45px;
}
.pad-lr-10{
    padding: 0 10%;
    margin-top: 5%;
}
.para_about_partners {
    width: 100%;
    line-height: 1.5;
    font-size: 18px;
}
.partners_sec_3{
  background: url(../img/partners/section_3/client_bg_new.jpg) no-repeat ; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}
 /*****************  No JS ***************/
#billboard {text-align: center;}
.js-warning {display: none;}

.no-js .js-warning {
  display: block;
  border: 3px solid #fff;
  text-align: center;
  background-color: #fff;
  color: #db5391;
  padding: 10px;}

/********** SLIDER **********/
.slider {
  max-width: 940px;
  margin: 0px auto 0px auto;}

.slide-viewer {
    position: relative; /* needed for IE7 */
    overflow: hidden;
    height: 320px;}

.slide-group {
    width: 100%;
    height: 100%;
    position: relative;}

.slide {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;}

.slide:first-child {
    display: block;}


/********** BUTTONS **********/
.slide-buttons {
  text-align: center;}

.slide-btn {
  border: none;
  background: none;
  color: #000;
  font-size: 200%;
  line-height: 0.5em;}

.slide-btn.active, .slide-btn:hover {
  color: #f4af1b;
  cursor: pointer;
}
.slide > img{
    width: 100%;
    margin-top: 5%;
}
:focus-visible {
    outline: -webkit-focus-ring-color auto 0px!important;
}
button:focus {
    outline: 0px dotted;
    outline: 0px auto -webkit-focus-ring-color;
}
.partners_sec_4{
  background: url(../img/partners/section_4/sec_4_bg.jpg) no-repeat ; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}
#news-slider{
    margin-top: 50px;
}
.post-slide{
    background: #fff;
    margin: 20px 15px 20px;
    border-radius: 15px;
    box-shadow: 1px 2px 19px -4px #bbcbd8;
    padding: 5%;
}
.post-slide .post-img{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: -12px 15px 8px 15px;
    margin-left: -10px;
}
.post-slide .post-img img{
    width: 100%;
    height: auto;
    transform: scale(1,1);
    transition:transform 0.2s linear;
}
.post-slide:hover .post-img img{
    transform: scale(1.1,1.1);
}
.post-slide .over-layer{
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    opacity:0;
    background: linear-gradient(-45deg, rgba(6,190,244,0.75) 0%, rgba(45,112,253,0.6) 100%);
    transition:all 0.50s linear;
}
.post-slide:hover .over-layer{
    opacity:1;
    text-decoration:none;
}
.post-slide .over-layer i{
    position: relative;
    top:45%;
    text-align:center;
    display: block;
    color:#fff;
    font-size:25px;
}
.post-slide .post-content{
    background:#fff;
    padding: 2px 20px 40px;
    border-radius: 15px;
}
.post-slide .post-title a{
    font-size:15px;
    font-weight:bold;
    color:#333;
    display: inline-block;
    text-transform:uppercase;
    transition: all 0.3s ease 0s;
}
.post-slide .post-title a:hover{
    text-decoration: none;
    color:#3498db;
}
.post-slide .post-description{
    line-height:24px;
    color:#808080;
    margin-bottom:25px;
}
.post-slide .post-date{
    color:#a9a9a9;
    font-size: 14px;
}
.post-slide .post-date i{
    font-size:20px;
    margin-right:8px;
    color: #CFDACE;
}
.post-slide .read-more{
    padding: 7px 20px;
    float: right;
    font-size: 12px;
    background: #2196F3;
    color: #ffffff;
    box-shadow: 0px 10px 20px -10px #1376c5;
    border-radius: 25px;
    text-transform: uppercase;
}
.post-slide .read-more:hover{
    background: #3498db;
    text-decoration:none;
    color:#fff;
}
.owl-controls .owl-buttons{
    text-align:center;
    margin-top:45px;
}
.owl-controls .owl-buttons .owl-prev{
    background: #fff;
    position: absolute;
    top:-13%;
    left:15px;
    padding: 0 18px 0 15px;
    border-radius: 50px;
    box-shadow: 3px 14px 25px -10px #92b4d0;
    transition: background 0.5s ease 0s;
}
.owl-controls .owl-buttons .owl-next{
    background: #fff;
    position: absolute;
    top:-13%;
    right: 15px;
    padding: 0 15px 0 18px;
    border-radius: 50px;
    box-shadow: -3px 14px 25px -10px #92b4d0;
    transition: background 0.5s ease 0s;
}
@media only screen and (max-width:1280px) {
    .post-slide .post-content{
        padding: 0px 15px 25px 15px;
    }
}
#news-slider > .owl-wrapper-outer{
    height: 55vh!important;
}
.pic_img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0px auto;
    overflow: hidden;
}
.title_text_patner{
    font-size: 18px;
    font-weight: bold;
    color: #01164f;
    margin-bottom: 5%;
}
.pic_img > img{
    width: 100%;
}
.mg-t-5{
    margin-top: 5%;
}
.partners_name_title {
    font-size: 16px;
    font-weight: 700;
    color: #f4af1b;
    text-transform: capitalize;
    margin: 0;
    text-align: left;
}
.partners_contact {
    text-align: left;
    font-size: 40px;
    padding: 3% 35%;
    color: #000;
}
.partners_title_head {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 2%;
    color: #01164f;
    padding-top: 6%;
}

.award_sec_1{
  background: url(../img/resource/awards/awards_bg.jpg) no-repeat ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.award_img{
    width: 100%;
    padding: 5%;
}
.award_name_title {
    font-size: 16px;
    font-weight: 700;
    color: #f4af1b;
    text-transform: capitalize;
    margin: 0;
    text-align: left;
    padding-left: 5%;

}
.award_name_text{
    padding-left: 5%;
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 45px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.5;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
}
.award_btn{
    font-size: 12px;
    margin-left: 5%;
    border-radius: 30px;
    padding: 1% 4%;
    background: #f4ae1b;
    color: #000;
    border: 0;
    margin-top: 2%;
}
.award_overflow{
    height: 81vh;
    overflow: auto;
}
.award_padding{
    padding: 2% 0;
}
.award_padding_2{
    padding: 4% 0;
}
.award_padding_bottom{
    padding-bottom: 5%;
}
.award_sec_2{
  background: url(../img/resource/blogs/blog_bg.jpg) no-repeat ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.award_blog_img {
    width: 100%;
    padding-bottom: 5%;
}
.icon_text{
    font-size: 16px;
    padding: 5%;
    font-weight: 600;
    color: #4e5c84;
}
.blogs_text{
    font-size: 21px;
    color: #fff;
    font-weight: 600;
    margin: 5% 0;
}
.blogs_bg{
    padding: 5% 0;
}

.whitepaper_img{
    width: 100%;
}
.whitepaper_desc {
    padding-top: 5%;
    font-size: 16px;
    line-height: 1.7;
    color: #000000;
    font-weight: 400;
    padding-bottom: 5%;
}
.award_name_text_2 {
    padding-left: 5%;
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 75px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.5;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
}
.whitepaper{
  background: url(../img/resource/whitepaper/whitepaper_bg.jpg) no-repeat ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.resource_contact_text{
    text-align: left;
    font-size: 40px;
    padding: 3% 15%;
    color: #000;
}
.owl-controls .owl-buttons .owl-prev{
        right: 90px!important;
        left: inherit;
}
.quickdeal_sec_1{
  background: url(../img/quickdeal/section_2/row_1_bg.jpg) no-repeat ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.quickdeal_sec_2{
  background: url(../img/quickdeal/section_2/row_2_bg.jpg) no-repeat ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.quickdeal_sec_3{
  background: url(../img/quickdeal/section_2/row_3_bg.jpg) no-repeat ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.quickdeal_title{
    font-size: 42px;
    text-align: left;
    font-weight: bold;
    color: #f4af1b;
}
.quickdeal_title-head_2 {
    font-size: 29px;
    text-align: left;
    font-weight: 400;
    color: #01164f;
    padding-bottom: 5%;
    line-height: 1.3;
}
.quickdeal_cta {
    text-align: center;
    font-size: 40px;
    padding: 6% 11%;
    color: #000;
}
.flex{
    display: flex;
}
.address_title{
    font-size: 23px;
    font-weight: 700;
    color: #f4af1b;
    text-transform: capitalize;
    margin: 0;
    text-align: left;
    padding: 2% 5%;
}

.address_padding{
    padding: 2% 5%;
}
.address_text{
    padding: 0 3%;
}
.w-7{
    width: 7%;
}
.w-85{
    width: 85%;
}
.w-90{
    width: 90%;
}
.pd_9_0{
    padding: 9% 0;
}
.address_bg{
    background: url(../img/contact_us/section_2/address_bg.jpg) no-repeat ; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}
.red{
    color: red;
}
.contact_form{
    margin: auto 15%;
}
.form-control{
    margin-bottom: 7%;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(138,138,138,1);
    -moz-box-shadow: 0px 0px 3px 0px rgba(138,138,138,1);
    box-shadow: 0px 0px 3px 0px rgba(138,138,138,1);
}
::placeholder{
    font-size: 16px;
}
.form_btn{
    background: #f4af1b;
    border: 0;
    padding: 1% 4%;
    border-radius: 32px;
}
.contact_bg{
    background: url(../img/contact_us/section_3/form_bg.jpg) no-repeat ; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}